.link {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  background: #dffbdf;
  border: 1px solid rgb(202, 163, 163);
  text-align: center;
}
.link:focus {
  scale: 1.1;
  background: rgb(202, 163, 163);
}
.item {
  margin-bottom: 5px;
}
.img {
  display: block;
  margin: 0 auto;
}
.button {
  margin-bottom: 10px;
}
